Sources:
https://en.wikipedia.org/wiki/FIPS_201
\
[[FIPS]] 201 is a United States federal government standard that specifies Personal Identity Verification requirements for Federal employees and contractors. In response to HSPD-12, the [[NIST]] Computer Security Division initiated a new program for improving the identification and authentication of Federal employees and contractors for access to Federal facilities and information systems.
[[FIPS_PUB]]
